.LoginForm{
    width: 300px;
    margin: 0 auto;
}
.LoginForm div{
    margin-bottom:10px;
}
.LoginForm input,.LoginForm button{
    border-radius: 8px;
    width: 80%;
}
.LoginForm input{
    border: 1px solid;
}
.LoginForm button{
    background-color: #333;
    color: white;
}
input,button{
    font-family: inherit;
    padding: 5px;
    outline: none;
    border: none;
}
