*{
    box-sizing: border-box;
}
body {
    background-color: #f0f0f0; /* Цвет фона всего сайта (серый) */
    margin: 0; /* Убираем внешние отступы, чтобы фон занимал всю страницу */
    padding: 0; /* Убираем внутренние отступы, чтобы фон занимал всю страницу */
    font-family: 'Nunito Sans', sans-serif;
  }
.main-content{
    text-align: center;
}


/* App.css */
.app-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  
  
  .main-content {
    width: 50%; /* Ширина основного контента */
    background-color: #fff; /* Цвет фона основного контента */
    padding: 20px;
    margin: 10px;
    height: 550px;
  }
  
  .news-sidebar {
    width: 25%; /* Ширина блока с новостями */
    background-color:#fff; /* Цвет фона блока с новостями */
    padding: 20px;
    margin: 10px;
    height: 550px;
  }

/* App.css */
.app-container {
    display: flex;
    justify-content: space-between;
  }
  

  
